/****** Script for SelectTopNRows command from SSMS  ******/
SELECT ProductName, QuantityPerUnit
  FROM [Northwind].[dbo].[Products]
  ORDER BY QuantityPerUnit
SELECT ProductName, QuantityPerUnit
  FROM [Northwind].[dbo].[Products]
  ORDER BY QuantityPerUnit DESC